*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
}
.sidebar{
    background-color: aquamarine;
}
.header{
    background-color: blueviolet;
}
.main-content{
    background-color: burlywood;
}
